* {
  font-family: "Playwrite GB J", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #1f150c;
  color: #e1dcc9;
  padding-top: 25px;
  padding-left: 50px;
  z-index: 3;
}
.Title img {
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  border-color: solid #e1dcc9;
}
.Title {
  display: flex;
}
.TopSelection {
  margin-top: 150px;
  display: flex;
  color: #e1dcc9;
  background-color: #412d15;
}

.card img {
  width: 300px;
  margin-top: 50px;
  padding-left: 50px;
  opacity: 80%;
}
.NewlyAdded {
  background-color: #412d15;
  color: #e1dcc9;
}
.NewlyAddedGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.NewlyAddedCard {
  width: 450px;
  height: 250px;
  border: 5px solid #e1dcc9;
  text-align: center;
  display: flex;
  margin-left: 50px;
}
.NewlyAddedCard img {
  margin-left: 20px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
}
.NewlyAddedCardTxt {
  margin-top: 50px;
}
